[submodule "libs/fastclick"]
	path = libs/fastclick
	url = https://github.com/ftlabs/fastclick.git
[submodule "libs/zepto"]
	path = libs/zepto
	url = https://github.com/madrobby/zepto.git
[submodule "libs/art-template"]
	path = libs/art-template
	url = https://github.com/aui/artTemplate.git
[submodule "libs/quaternion"]
	path = libs/quaternion
	url = https://github.com/infusion/Quaternion.js.git
