.fps {
 position:absolute;
 top:0;
 right:0;
}

.palette {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.palette-color {
  background-color: #fff;
  width: 50px;
  height: 50px;
  float: left;
}
